.heading {
  padding: 10% 0;
}

.btn {
  margin: 5% 7%;
}

h4 {
  color: grey;
  font-family: "Oxygen";
  padding: 30%;
}
.navbar-brand {
  font-size: 50px;
  font-style: italic;
  font-weight: bolder;
}
h1 {
  padding: 15%;
  color: red;
}
h2 {
  font-weight: bolder;
  font-family: "Oxygen";
  padding-top: 10px;
}

h3 {
  padding-left: 10px;
}

img {
  padding: 10px 15px;
  float: left;
  width: 150px;
}

p {
  font-family: "Josefi Sans";
  line-height: 2;
  padding: 10px;
}
